.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-transaction-wrapper {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-transaction {
  font-size: 60px;
  color: white;
}

.category-transaction {
  font-size: 60px;
  color: #00ddb2;
}

.scroller {
  height: 90%;
}

.category-wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 500px;
  height: 150px;
  border: 5px solid white;
  border-radius: 15px;
  background-color: #091f22;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.category-wrapper-selected {
  border: 5px solid #00ddb2;
  color: #00ddb2;
}

.name-category {
  font-size: 30px;
}
