.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-account-wrapper {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-account {
  font-size: 75px;
  color: white;
}

.amount-account {
  font-size: 60px;
  color: #00ddb2;
}

.amount-account-negative {
  font-size: 60px;
  color: #dd002b;
}

.scroller {
  height: 75%;
  overflow-y: scroll;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.account-container {
  display: flex;
}

.transaction-wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 125px;
  margin-right: 25px;
  width: 500px;
  border: 5px solid #00ddb2;
  border-radius: 15px;
  background-color: #091f22;
  color: #00ddb2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.transaction-wrapper-negative {
  border: 5px solid #dd002b;
  color: #dd002b;
}

.description {
  font-size: 30px;
  margin-bottom: 5px;
  text-align: center;
}

.transaction-info {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.icon-wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100px;
  border: 5px solid #00ddb2;
  border-radius: 15px;
  background-color: #091f22;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-wrapper-negative {
  border: 5px solid #dd002b;
  color: #dd002b;
}

.icon-category {
  height: 50px;
  width: 50px;
  color: #00ddb2;
}

.icon-category-negative {
  color: #dd002b;
}
