.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #00ddb2;
  font-size: 20px;
  cursor: pointer;
}
